node_modules
themes/plenamata/dist/
themes/plenamata/dist/

wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*

mariadb_data/
