@import "./../2-atoms/a-mixins";

.home {
    figure.wp-block-image.is-style-rounded img {
        border-radius: 8px;
    }

    #quem_somos,
    #who_we_are {
        position: relative;
	    z-index: 2;

        @include mobile {
            padding: 1em;
        }
    }

    #o_que_fazemos,
    #what_we_do {
        @include mobile {
            padding: 1em;
        }
    }

    .away {
        padding: 0 100px;

        @include mobile {
            padding: 1em;
        }
    }

    .cover-negative {
        &.alignfull {
            margin-top: -50vh;
            height: 110vh;

            .wp-block-cover__inner-container {
                padding: 180px 15px 0 15px;

                @include desktop {
                    max-width: 45%;
                }
            }
        }
    }
    
    .newsletter-container{
        position: relative;
        background-color: #fff087;
        margin-top: -325px;
        z-index: 99;
       
        .wp-block-cover__inner-container{
            p, h2, label{
                color: #22271B;
            }
            
            .eye{
                position: absolute;
                top: 35px;
                max-width: 260px;
                @include mobile{
                    display: none;
                }
            }
            .eye-left {
                left: 0;
            }

            .eye-right {
                right: 0;
            }

            form {
                max-width: 370px;
                margin: 0 auto;
               
                input[type='email']{
                    background-color: transparent;
                    border: none;
                    border-bottom: solid 1px #272B36;
                    color: #272B36;
                    padding: 12px 0;
                    width: 100%;;
                }

                input[type='email']:-webkit-autofill,
                input[type='email']:-webkit-autofill:hover, 
                input[type='email']:-webkit-autofill:focus, 
                input[type='email']:-webkit-autofill:active
                {
                -webkit-box-shadow: 0 0 0 30px #fff087 inset !important;
                }

                input[type='email']:active{
                   background-color: transparent;
                }
                input[type='email']:focus{
                    outline: none;
                }
                
                label {
                    display: grid;
                    grid-template-columns: min-content auto;
                    grid-gap: 0.5em;
                    place-items: center;
                    margin: 20px 0;
    
                    input[type='checkbox'] {
                        height: 20px;
                        width: 20px;
                        margin: 0 20px;
                    }
                    
                    input:autofill{
                        background-color:  transparent;
                    }
                    
                    input[type='checkbox']:after {
                        width: 26px;
                        height: 26px;
                        border-radius: 15px;
                        top: -3px;
                        left: -3px;
                        position: relative;
                        background-color: #fdf187;
                        content: '';
                        border: #22271B solid 1px;
                        display: inline-block;
                        visibility: visible;
                    }

                    input[type='checkbox']:checked:after {
                        width: 26px;
                        height: 26px;
                        border-radius: 15px;
                        top: -3px;
                        left: -3px;
                        position: relative;
                        background-color: #272B36;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        border: 7px solid #fdf187;
                        box-shadow: 0px 0px 0px 1px #000000;
                    }
                }
                input[type='submit']{
                    width: 100%;
                    color: #ffff;
                    background-color: #3D342D;
                    padding: 10px 0;
                    border: none;
                    border-radius: 4px;
                }
                .mc4wp-success{
                    text-align: center;
                }
            }
            
        }
    }

    footer.main-footer {
        margin-top: -380px;
        padding-top: 295px;
    }
}