@import "./../2-atoms/a-mixins";

.home {
    figure.wp-block-image.is-style-rounded img {
        border-radius: 8px;
    }

    .wp-block-columns {
        @include tablet {
            flex-flow: column;
        }

        .wp-block-column {
            @include tablet {
                margin-left: 0;
            }
        }
    }

    #quem_somos,
    #who_we_are {
        padding: 30px 60px;
        position: relative;
	    z-index: 2;

        @include mobile {
            padding: 1em;
        }
    }

    #monitor .wp-block-column:not(:first-child) {
        margin-left: 20px;

        @media (max-width: 599px) {
            margin-left: 0;
        }
    }

    .away {
        padding: 0 100px;

        @include tablet {
            padding: 1em;
        }
    }

    .cover-negative {
        &.alignfull {
            margin-top: -50vh;
            height: 110vh;

            .wp-block-cover__inner-container {
                padding: 180px 15px 0 15px;

                @include desktop {
                    max-width: 45%;
                }
            }
        }
    }

    .flourish-iframe {
        border: 0;
        border-radius: 8px;
        height: 300px;
        width: 100%;

        @media (min-width: 599px)  {
            height: 252px;
        }

        @media (min-width: 699px)  {
            height: 225px;
        }

        @media (min-width: 799px)  {
            height: 310px;
        }

        @media (min-width: 1025px)  {
            height: 225px;
        }

        @media (min-width: 1400px){
            height: 259px;
        }
    }

    .newsletter-container {
        position: relative;
        background-color: #fff087;
        margin-top: -440px;
        z-index: 99;
        padding: 30px !important;
        border-radius: 8px;

        &:before {
            border-radius: 8px;
        }

        @include mobile {
            margin-top: -342px;
        }

        .wp-block-cover__inner-container{
            p, h2, label{
                color: #22271B;
                font-weight: normal;
            }
            
            .eye{
                position: absolute;
                top: 35px;
                max-width: 260px;

                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: none;
                }
            }
            .eye-left {
                left: 0;
            }

            .eye-right {
                right: 0;
            }

            form {
                max-width: 370px;
                margin: 0 auto;
               
                input[type='email']{
                    background-color: transparent;
                    border: none;
                    border-bottom: solid 1px #272B36;
                    color: #272B36;
                    padding: 12px 0;
                    width: 100%;;
                }

                input[type='email']:-webkit-autofill,
                input[type='email']:-webkit-autofill:hover, 
                input[type='email']:-webkit-autofill:focus, 
                input[type='email']:-webkit-autofill:active
                {
                -webkit-box-shadow: 0 0 0 30px #fff087 inset !important;
                }

                input[type='email']:active{
                   background-color: transparent;
                }
                input[type='email']:focus{
                    outline: none;
                }

                label {
                    display: grid;
                    grid-template-columns: min-content auto;
                    grid-gap: 0.5em;
                    place-items: center;
                    margin: 20px 0;

                    input[type='checkbox'] {
                        -moz-appearance:initial;
                        height: 20px;
                        width: 20px;
                        margin: 0 20px;
                    }
                    
                    input:autofill{
                        background-color:  transparent;
                    }
                    
                    input[type='checkbox']:after {
                        -moz-appearance:initial;
                        width: 26px;
                        height: 26px;
                        border-radius: 15px;
                        top: -3px;
                        left: -3px;
                        position: relative;
                        background-color: #fdf187;
                        content: '';
                        border: #22271B solid 1px;
                        display: inline-block;
                        visibility: visible;
                    }

                    input[type='checkbox']:checked:after {
                        -moz-appearance:initial;
                        width: 26px;
                        height: 26px;
                        border-radius: 15px;
                        top: -3px;
                        left: -3px;
                        position: relative;
                        background-color: #272B36;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        border: 7px solid #fdf187;
                        box-shadow: 0px 0px 0px 1px #000000;
                    }
                }
                input[type='submit']{
                    width: 100%;
                    color: #ffff;
                    background-color: #3D342D;
                    padding: 10px 0;
                    border: none;
                    border-radius: 4px;
                }
                .mc4wp-success{
                    text-align: center;
                }
            }
            
        }
    }

    .reverse-on-mobile {
        @include tablet {
            flex-direction: column-reverse;
        }
    }

    .wp-block-image {
        img {
            @include tablet {
                height: auto;
            }
        }
    }

    .main-footer {
        margin-top: -375px;
        padding-top: 300px;

        .menu-item-855 a {
            font-size: 1.1rem;
            font-weight: bold;
        }
        @media(max-width: 768px){
            .menu-item-855 {
                text-align: center;
                line-height: 1.2;
            }
        }
    }

    // Global
    .mb-0{
        margin-bottom: 0 !important;
    }

    .fs-80 {
        font-size: 80px
    }

    .br-8 {
        border-radius: 8px;
        overflow: hidden;
    }

    h1.color-black,
    span.color-black {
        color: var(--c-darkness-05) !important;
    }

}