footer.main-footer {
    --light-color-over-background: white;
    background-color: var(--c-darkness-05);

    .logos-area {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 140px;

        @include mobile {
            margin-bottom: 60px;
        }

        .before-logos {
            font-size: size(20);
            color: var(--light-color-over-background);
            margin-bottom: 90px;

            @include mobile {
                margin-bottom: 10px;
            }
        }

        .logos {
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                flex-direction: column;
            }

            > div {
                &:not(:last-child) {
                    margin-right: 113px;

                    @include mobile {
                        margin: 0;
                        margin-bottom: 50px;
                    }
                }

            }
        }
    }

    .addicional-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
            margin-bottom: 30px;
        }

        .copyright-info {
            color: var(--light-color-over-background);

            @include mobile {
                order: 1;
            }
        }

        .social-networks {
            display: flex;

            @include mobile {
                order: 0;
                margin-bottom: 30px;
            }

            .social-icon {
                padding: 20px;

                a {
                    &:hover {
                        img {
                            transform: scale(1.3);
                            transition: all .2s;
                        }
                    }

                    img {
                        transition: all .2s;
                    }
                }
            }
        }

        .footer-menu {
            @extend .base-menu-component;

            @include mobile {
                order: 1;
            }

            @include tablet {
                ul {
                    padding-left: 0px;

                    li {
                        font-size: size(16);
                    }
                }
            }
        }
    }
}