header.main-header {    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 78px;

        .logo {

        }

        button.toggle-menu {
            appearance: none;
            border: 0px;
            outline: none;
            background: none;
            position: relative;
            width: 32px;
            height: 32px;

            &:before, &:after{
                content: "";
                display: block;
                width: 21px;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 13px;
                transition: all .4s;
            }

            &:after {
                top: 19.3px;
            }


            &.active {
                &:before {
                    top: 16px;
                    transform: rotate(-45deg);
                    transition: all .2s;
                }

                &:after {
                    top: 16px;
                    transform: rotate(45deg);
                    transition: all .2s;
                }
            }
        }

        .menus {
            display: flex;

            .primary-menu {
                margin-right: 85px;
            }
        }

        @import "./../3-components/c-wpml-language-menu";
        @import "./../3-components/c-main-menu";

    }
}