header.main-header {

    &.active {
        background-color: var(--c-darkness-05);
        transition: all .5s;
        min-height: 100vh;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 78px;

        .logo {
            @include mobile {
                img {
                    width: 154px;
                    height: auto;
                }
            }
        }

        button.toggle-menu {
            appearance: none;
            border: 0px;
            outline: none;
            background: none;
            position: relative;
            width: 32px;
            height: 32px;
            display: none;

            @include tablet {
                display: block;
            }

            &:before, &:after{
                content: "";
                display: block;
                width: 21px;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 13px;
                transition: all .4s;
            }

            &:after {
                top: 19.3px;
            }


            &.active {
                justify-self: flex-end;

                &:before {
                    top: 16px;
                    transform: rotate(-45deg);
                    transition: all .2s;
                }

                &:after {
                    top: 16px;
                    transform: rotate(45deg);
                    transition: all .2s;
                }
            }
        }

        .menus {
            display: flex;

            @include tablet {
                display: none;
            }

            .primary-menu {
                margin-right: 85px;

                @include mobile {
                    margin-right: 0;
                }
            }
        }


        &.active {
            display: grid;
            grid-template-columns: 164px 32px;
            grid-template-rows: 78px auto;
            grid-template-areas: "a b"
                                 "c c";
            .menus {    
                display: flex;
                flex-direction: column;
                grid-area: c;

                .primary-menu {
                    ul {
                        flex-direction: column;
                        margin-left: 0;
                        padding-left: 0;
                    }

                    ul.sub-menu {
                        padding-left: 20px
                    }
                }
            }
        }

        @import "./../3-components/c-wpml-language-menu";
        @import "./../3-components/c-main-menu";

    }
}