@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.wp-block-jaci-deforestation-info {
    background-color: var(--c-darkness-05);
    border-radius: 8px;
    margin-bottom: var(--s-small);
    padding: var(--s-small);

    span {
        color: var(--c-gray);

        &.box-title {
            display: inline-block;
            line-height: 1.7;
            max-width: 190px;
        }

        &.icon {
            align-items: center;
            background-image: url($p_theme_assets + '/images/eye.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            height: 70px;
            margin-right: var(--s-small);
            width: 70px;

            @include desktop {
                background-position: center;
                margin-right: var(--s-large);
            }
        }

        &.count {
            display: flex;
            align-items: flex-end;
            font-size: 4vw;
            line-height: 0.9;

            @include mobile {
                font-size: 10vw;
                padding-bottom: 10px;
                padding-top: 15px;
            }
        }

        &.legend {
            display: flex;
            align-items: flex-end;
            padding-left: var(--s-small);

            @include desktop {
                padding-left: var(--s-large);
            }

            @include mobile {
                padding-left: 0;
                display: inline;
            }
        }

        &.data-source {
            font-size: 14px;
        }
    }

    .box-content {
        display: flex;
        justify-content: center;
        margin-bottom: var(--s-large);
        margin-top: var(--s-large);

        @include mobile {
            display: block;
        }
    }
}