body {
    font-family: 'Archivo', sans-serif;
}

h1 {
    font-size: 2.5rem;

    @include mobile {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 2rem;

    @include mobile {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1.5rem;

    @include mobile {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--c-darkness-05);

    @include mobile {
        font-size: 0.875rem;
    }
}